/* Stylesheet
** Version 1.4
** Copyright @2014
*/
/****************
** IE **
*****************/
.ie9 #container2 {
  width: 100%;
  margin: 0;
  margin-top: 38px;
  padding: 0; }
.ie9 .item {
  margin: 0;
  width: 16.6666666666666666666667%;
  float: left;
  overflow: hidden; }
.ie9 .item.w2 {
  margin: 0;
  width: 33.333333333333333333333%;
  float: left;
  overflow: hidden; }
.ie9 .caption {
  position: absolute;
  bottom: 0;
  right: 20px; }

/****************
** MEDIA QUERIES **
*****************/
/****************
** GENERAL STYLE **
*****************/
* {
  outline: 0; }

body {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 300; }

img {
  border: 0;
  outline: 0;
  vertical-align: top; }

strong {
  font-weight: 400; }

/****************
** HEADER STYLE **
*****************/
.body-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 999; }
  .body-header .top-wrapper {
    position: absolute;
    width: 100%;
    background: transparent url(../images/icons/topbar.png) repeat-x 0px bottom;
    left: 0px;
    height: 43px;
    padding-top: 6px;
    z-index: 50;
    color: #676767; }
    .body-header .top-wrapper .links {
      max-width: 1140px;
      margin: 0 auto;
      text-align: right; }
      .body-header .top-wrapper .links a {
        /*&:first-child {
        	&:after {
        		content: '|';
        		margin-left: 10px;
        		margin-right: 10px
        	}
        }*/
        color: #FFF;
        text-decoration: none; }
        .body-header .top-wrapper .links a:hover {
          text-decoration: underline; }
  .body-header .logo-wrapper {
    max-width: 1140px;
    margin: 0 auto; }
    .body-header .logo-wrapper .logo {
      position: absolute;
      top: 0px;
      z-index: 999; }

/****************
** CONTAINER STYLE **
*****************/
.body-wrapper {
  overflow: hidden; }

h1 {
  font-size: 6em;
  font-weight: 400;
  margin-top: 0.67em;
  margin-bottom: 0; }

h2 {
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; }

p {
  font-size: 1.2em; }

.item {
  width: 16.66666666666666667%;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  position: relative; }
  .item img:not(.prize) {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out; }
  .item:hover {
    opacity: 0.9; }
    .item:hover img:not(.prize) {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2); }

.item.w2 {
  opacity: 0;
  width: 33.33333333333333333%; }

.dynamic {
  color: #FFF;
  box-sizing: border-box;
  background: #dc4e0d;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #dc4e0d 0%, #dc4e0d 0%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dc4e0d), color-stop(0%, #dc4e0d), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102), color-stop(100%, #7a1102));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #dc4e0d 0%, #dc4e0d 0%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #dc4e0d 0%, #dc4e0d 0%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #dc4e0d 0%, #dc4e0d 0%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #dc4e0d 0%, #dc4e0d 0%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%, #7a1102 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a1102', endColorstr='#dc4e0d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .dynamic .inner-content {
    padding: 0 5em; }
  .dynamic:not(.h2) h2 {
    margin-top: 1em;
    margin-bottom: .4em; }
  .dynamic:not(.h2) a.readmore {
    text-decoration: none;
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    padding: 0.3em 1.5em; }
  .dynamic:not(.w2) .inner-content {
    padding: 0 2em; }

.grid-sizer {
  width: 16.66666666666666667%; }

.caption {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #b82804;
  box-sizing: border-box;
  border-top-left-radius: 10px; }

.col-3 {
  width: 200px; }

.item:not(.w2) img.prize {
  width: 20%;
  height: auto; }

.item.w2 img.prize {
  width: 40%;
  height: auto; }

img.prize {
  position: absolute;
  bottom: 0;
  right: 2em; }

/****************
** REGISTER **
*****************/
#formPanel {
  position: fixed;
  top: 38px;
  z-index: 998;
  width: 100%;
  background: #FFF;
  color: #000; }
  #formPanel .formContainer {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative; }
    #formPanel .formContainer form fieldset {
      border: 0;
      padding-left: 0;
      padding-right: 0;
      margin: 0; }
  #formPanel .closeWrapper {
    position: absolute;
    top: 45px;
    right: -105px;
    width: 45px;
    height: 45px; }
    #formPanel .closeWrapper:hover {
      opacity: 0.7; }

.loginArea, .registerArea {
  width: 50%;
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  box-sizing: border-box; }
  .loginArea h1, .registerArea h1 {
    font-size: 4em;
    margin-top: 0.2em;
    margin-bottom: 0.2em; }

.registerArea {
  padding-left: 4em; }

form input {
  width: 100%;
  height: 50px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  box-sizing: border-box; }

button, .button {
  padding: 0.4em 1.4em;
  background: #000;
  color: #FFF;
  border: 0;
  width: 100%;
  margin: 0 2px;
  text-transform: uppercase;
  margin-bottom: 0.9375em;
  text-decoration: none;
  box-sizing: border-box; }
  button:hover, button:focus, button:active, .button:hover, .button:focus, .button:active {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75); }

a.forgotPwd {
  color: #000; }

.hidden {
  height: 0;
  overflow: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease; }

.overlay {
  display: none;
  background-color: #000;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.8;
  z-index: 999; }

.appstore a {
  color: #fff; }

.clearfix {
  clear: both; }

/****************
** PAIVA PANEL **
*****************/
#paivaPanel {
  position: fixed;
  top: 38px;
  z-index: 998;
  width: 100%;
  color: #000;
  background: #FFF; }
  #paivaPanel .paivaContainer {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 1em;
    position: relative; }
    #paivaPanel .paivaContainer h1 {
      font-size: 5em;
      margin-top: 0.76em; }
  #paivaPanel .closeWrapper {
    position: absolute;
    top: 0;
    right: -105px;
    width: 45px;
    height: 45px; }
    #paivaPanel .closeWrapper:hover {
      opacity: 0.7; }

/****************
** SINGLE CONTAINER **
*****************/
#singleContainer .item:not(.dynamic) h1, #singleContainer .item:not(.dynamic) h2, #singleContainer .item:not(.dynamic) h3, #singleContainer .item:not(.dynamic) h4, #singleContainer .item:not(.dynamic) p {
  color: #000; }

#singleContainer h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: none;
  margin-top: 1em; }
#singleContainer .uppercase {
  text-transform: uppercase; }
#singleContainer h3 {
  font-size: 1.8em;
  font-weight: 300; }

.title, .content {
  padding: 0 5em;
  border: 1px solid #DDD;
  box-sizing: border-box; }

/****************
** FOOTER STYLE **
*****************/
.footer-wrapper {
  color: #000;
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; }
  .footer-wrapper .small-footer {
    text-align: center; }
    .footer-wrapper .small-footer a {
      text-decoration: none;
      color: #000; }

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; }

hr {
  margin-top: 2em; }

/****************
** MEDIA QUERIES **
*****************/
@media only screen and (max-width: 1440px) {
  h1 {
    margin-top: 1em; }

  p {
    font-size: 1em; } }
@media only screen and (max-width: 769px) {
  h1 {
    margin-top: 0.4em;
    font-size: 5em; }

  h2 {
    font-size: 1.5em; }

  p {
    font-size: 1em; }

  .dynamic .inner-content {
    padding: 0 3em; }
  .dynamic:not(.w2) .inner-content {
    padding: 0 1em; }

  .item.w2 {
    width: 50%; }

  .item {
    width: 25%; }

  .grid-sizer {
    width: 25%; }

  .top-wrapper {
    display: none; }

  .loginArea, .registerArea {
    width: 100%;
    float: none; } }
@media only screen and (max-width: 500px) {
  .item.w2 {
    width: 100%; }

  .item {
    width: 50%; }

  .grid-sizer {
    width: 50%; }

  h1 {
    font-size: 2.5em;
    margin-top: 0.8em; }

  h2 {
    font-size: 1.2em; }

  p {
    font-size: 0.9em; }

  img[alt="windowsphonestore"] {
    width: 101px; }

  img[alt="androidmarket"] {
    width: 98px; }

  img[alt="appstore"] {
    width: 108px;
    display: block;
    margin: 10px auto; } }

/*# sourceMappingURL=style.css.map */
