
p { 
	font-size: 1em; 
}
.dynamic {
	.inner-content {
		padding: 0 3em;
	}
}
.dynamic.brick11 {
	.inner-content {
		padding: 0 1em;
	}
}
h2.col-3 {
	font-size: 1.4em;
}
button, .button {
	font-size: 1em;
}